@model Catalog

@{
    ViewData["Title"] = "Список товаров";
}

@if (Model.GetProducts() != null)
{
    @foreach (var p in Model.GetProducts())
    {
        <div>
            Артикул: @p.Id <br />
            Название: @p.Name <br />
            Описание: @p.Description <br />
            <img src=@p.LinkToImage alt="logoimage"> <br />
        </div>
    }
}